#toolbar {
    margin: 0px 40px  10px 30px;
    padding: 0px 10px;
    border-radius: 0 0 var(--br) var(--br);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-color: var(--bg2);
    box-shadow: var(--bs);
}

@media screen and (max-width: 1200px) {

    #toolbar {
        margin: 0px 20px  10px 10px;
    }
}

#toolbar>div {
    white-space: nowrap;
}

#toolbar>div>button {
    border: none;
    width: 50px;
    font-size: 30px;
    padding: auto;
    color: var(--hl);
}

#toolbar>div>button>img {
    width: 25px;
    /* https://codepen.io/sosuke/pen/Pjoqqp */
    filter: var(--filter);
}



