:root {
    --br: 10px;
    --bs: 0px 0px 10px rgba(0, 0, 0, 0.3);
    --product__columns: 4;
    /* yellow */
    --bg1: #091420;
    --bg2: #1B263B;
    --bg3: #2f3d57;
    --text-main: #E0E1DD;
    --text-dim: #979696;
    --text-sec: #1B263B;
    --link: #4194dd;
    --hl: #d2e97e;
    --hlb: #d4e78f;
    --fl1: #d9ed92;
    --fl2: #b5e48c;
    --fl3: #99d98c;
    --fl4: #76c893;
    --fl5: #52b69a;
    --fl6: #34a0a4;
    --fl7: #168aad;
    --fl8: #1a759f;
    --fl9: #1e6091;
    --filter: invert(93%) sepia(51%) saturate(484%) hue-rotate(13deg) brightness(93%) contrast(96%);

}

body.theme--flat {
    /* mmonitor */
    --bg1: #1B1B27;
    --bg2: #202231;
    --bg3: #2d2f41;
    --text-main: #ffffff;
    --text-dim: #A6A7AB;
    --text-sec: #1b1b1b;
    --link: #4194dd;
    --hl: #7667F6;
    --hlb: #8376f3;
    --fl1: #d9ed92;
    --fl2: #b5e48c;
    --fl3: #99d98c;
    --fl4: #76c893;
    --fl5: #52b69a;
    --fl6: #34a0a4;
    --fl7: #168aad;
    --fl8: #1a759f;
    --fl9: #1e6091;
    --filter: invert(34%) sepia(85%) saturate(1065%) hue-rotate(222deg) brightness(105%) contrast(93%);
}

body.theme--yellow {
    /* mmonitor */
    --bg1: #091420;
    --bg2: #1B263B;
    --bg3: #2f3d57;
    --text-main: #E0E1DD;
    --text-dim: #979696;
    --text-sec: #1B263B;
    --link: #4194dd;
    --hl: #d2e97e;
    --hlb: #d4e78f;
    --fl1: #d9ed92;
    --fl2: #b5e48c;
    --fl3: #99d98c;
    --fl4: #76c893;
    --fl5: #52b69a;
    --fl6: #34a0a4;
    --fl7: #168aad;
    --fl8: #1a759f;
    --fl9: #1e6091;
    --filter: invert(93%) sepia(51%) saturate(484%) hue-rotate(13deg) brightness(93%) contrast(96%);
}

body.theme--turquise {
    /* turquise */
    --bg1: #091420;
    --bg2: #1B263B;
    --bg3: #2f3d57;
    --text-main: #E0E1DD;
    --text-dim: #979696;
    --text-sec: #1B263B;
    --link: #4194dd;
    --hl: #99E2B4;
    --hlb: #a9e7c0;
    --fl1: #99E2B4;
    --fl2: #88D4AB;
    --fl3: #78C6A3;
    --fl4: #67B99A;
    --fl5: #56AB91;
    --fl6: #469D89;
    --fl7: #358F80;
    --fl8: #248277;
    --fl9: #14746F;
    --filter: invert(92%) sepia(11%) saturate(1064%) hue-rotate(78deg) brightness(92%) contrast(93%);
}

body.theme--reddit {
    /* reddit */
    --bg1: #030003;
    --bg2: #1A1A1B;
    --bg3: #272729;
    --text-main: #E0E1DD;
    --text-dim: #979696;
    --text-sec: #1B263B;
    --link: #4194dd;
    --hl: #FF4500;
    --hlb: #fc4e0f;
    --fl1: #99E2B4;
    --fl2: #88D4AB;
    --fl3: #78C6A3;
    --fl4: #67B99A;
    --fl5: #56AB91;
    --fl6: #469D89;
    --fl7: #358F80;
    --fl8: #248277;
    --fl9: #14746F;
    --filter: invert(36%) sepia(93%) saturate(3603%) hue-rotate(1deg) brightness(101%) contrast(108%);
}

html, body {
    overflow-x: hidden;
}

body {
    position: relative
}

* {
    font-family: Comfortaa;
    color: var(--text-main);
}

h3 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

body {
    max-width: 100%;
    max-height: 100vh;
    height: 100vh;
    background-color: var(--bg1);
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

button {
    background-color: transparent;
    border: none;
    padding: 5px;
    border-radius: var(--br);
    cursor: pointer;
    transition: 0.5s;
    font-size: 20px;
}

button:hover {
    transform: scale(1.05)
}

button:active {
    transform: scale(0.9)
}

a {
    text-decoration: none;
    color: var(--link);
    position: relative;
}

a::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: var(--link);
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
    a:hover::before {
        left: 0;
        right: auto;
        width: 100%;
    }
}

.button--close {
    font-size: 1.5em;
}

/* width */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    background: var(--bg2);
    border-radius: var(--br)
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: var(--text-main);
    border-radius: var(--br)
}

#content {
    max-width: calc(100%);
    max-height: calc(100vh);
    height: calc(100vh);
    display: grid;
    grid-template-rows: minmax(0, 75px) minmax(0, 1fr);
    overflow-x: hidden;
}