#popup {
    background-color: var(--bg2);
    height: 50vh;
    width: 60vw;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 11;
    border-radius: var(--br);
    padding: 30px;
    transition: 0.5s;
    transform: scale(0)
}
#popup.active {
    transform: scale(1)
}



#popup__overlay {
    z-index: 10;
    background-color: #00000070;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: var(--br);
    display: none;
}

#popup__overlay.active {
    display: inline;
}

#info{
    padding: 10% 15%;
    height: calc(80%);
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr)

}

#info__description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
    overflow-x: hidden;
}

@media screen and (max-width: 1200px) {
    #info__image_wrapper{
        display: none;
    }
    #info{
        grid-template-columns: minmax(0, 1fr)
    }
    
}

#info__image_wrapper{
    width: 100%;
}

#info__image_frame{
    background-color: var(--bg3);
    margin: auto;
    padding: 20px;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    display: grid;
    align-items: center
}

#info__image_frame>img{
    width: 100%;
}

#info__links{
    display: flex;
    justify-content: center;

    grid-column: 1/3;
}

#info__links>a{
    font-size: 13px;
    margin: 0 10px;
}

#info__links>a>img{
    height: 12px;
    margin-right: 5px;
}

@media screen and (max-width: 600px) {
    #info__links{
        flex-direction: column;
        align-items: center;
    }
}